# Git
.git
.gitignore

# Ambientes virtuais Python e bibliotecas locais
venv/
env/
.env/
.venv/
Lib/
Scripts/
Include/
bibliotecas/
pyvenv.cfg

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Logs
*.log

# Arquivos Docker
Dockerfile
docker-compose.yml
.dockerignore

# Outros
.DS_Store
.idea/
.vscode/